h1, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

:root {
  font-family: 'arial';
}

/* 첫 작업 순서 */
.wrapper {
  background-color: antiquewhite;
  width: 400px;
  margin: 100px auto;
}

body {
  background-color: #ddd;
}

.buckets {
  background-color: white;
}

.buckets-header {
  border-bottom: 4px solid #ddd;
}

.buckets-header h1 {
  line-height: 1; /* px 단위로 안정하고, 이렇게 수만 적는게 보통 */
  /* leading area가 사라짐. */
  /* margin-top: -0.05em;
  margin-bottom: -0.24em; */
  border-left: 10px solid;
  padding-left: 20px;
  
}

.buckets-contents {
  background-color: #efefef;
  padding: 30px;
}

.lists li {
  background-color: white;
  border: 4px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.lists li:last-child {
  margin-bottom: 0;
}

/* .list li + li {
  margin-top: 10px;
  위 방법과 다른 방법
} */

/* li:nth-child(2) {
  border-color: dodgerblue;
}
이런 식으로 하면 클릭이 되었을 떄 쓸 수 없음. */

/*
자바스크립트를 알아야 구현이 가능한 부분!

.lists li.active {
  border-color: dodgerblue;
  color: dodgerblue;
}

  클래스 지정
  active
  on
  selected
  highlight
  done
*/