@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
    box-sizing: border-box;
    background-color: #5B2386;
}

input {
    font-family: 'GmarketSansMedium';
    width: 228px;
    height: 57px;
    font-size: 24px;
    text-align: center;
    border-radius: 7px;
}

.app{
    width: 780px;
    padding-top: 125px;
    margin: 0 auto;
    text-align: center;
}

.title_header {
    position: relative;
}

.title_header img:first-child {
    width: 564px;
    height: 112px;
}

.title_header img:last-child {
    width: 261px;
    height: 265px;
    position: absolute;
    top:-70px;
    right: 250px;
    z-index: -1;
}

.quotes_content {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #F5DF4D;
    margin-top: 140px;
    margin-bottom: 78px;
}

.section_content {
    position: relative;
    margin-bottom: 102px;
}

.img_quotes {
    position: absolute;
    right: 150px;
    top: 10px;
}

.desc_content{
    font-family: 'GmarketSansMedium';
    line-height: 30px;
    font-size: 18px;
    color: white;
}

.desc_strong {
    font-size: 24px;
    font-family: 'GmarketSansBold';
}

.wrapper_form {
    position: relative;
    font-family: 'GmarketSansMedium';
    color: white;
    font-size: 24px;
    margin-bottom: 38px;
}

.text_wannabe {
    padding-bottom: 38px;
}

.btn_exc {
    font-size: 23px;
    font-family: 'GmarketSansBold';
    background-color: #F5DF4D;
    color: #5B2386;
    border-radius: 56px;
    width: 565px;
    height: 66px;
    padding: 21px 49px;
    margin: 115px 0 147px 0;
    align-items: center;
}

.btn_click {
    position: absolute;
    bottom: 130px;
    right: 40px;
}

.result {
    margin-bottom: 130px;
    font-family: 'GmarketSansMedium';
    color: white;
    font-size: 24px;
}

.blind{
	visibility:hidden;
	position:absolute;
	top:-9999999px;
	left:-9999999px;
	width:1px;
	height:1px;
	margin:0;
	padding:0;
	background:none;
	font-size:0;
	line-height:0;
	text-indent:-9999999px;
}

section .text_wannabe {
    padding-bottom: 41px;
}

section .text_time {
    margin-bottom: 127px;
}

.result_strong {
    font-size: 72px;
    font-family: 'GmarketSansBold';
}

.btn {
    display: flex;
    justify-content: center;
}

.btn_go {
    display: flex;
    font-size: 23px;
    font-family: 'GmarketSansBold';
    background-color: #F5DF4D;
    color: #5B2386;
    border-radius: 56px;
    width: 356px;
    height: 66px;
    padding: 21px 49px;
}

.btn_share {
    display: flex;
    font-size: 23px;
    font-family: 'GmarketSansBold';
    background-color: white;
    color: #5B2386;
    border-radius: 56px;
    width: 191px;
    height: 66px;
    padding: 21px 49px;
    margin-left: 12px;
}

.wrapper_footer {
    text-align: center;
    margin-bottom: 42px;
}

.img_logo {
    margin-bottom: 20px;
}

.text_footer {
    width: 365px;
    font-size: 12px;
    color: white;
    font-family: 'Noto Sans KR';
    line-height: 17px;
}